<x-meta id="xtag-iconbutton" label="XTag Iconbutton" group="XTags" hideSubtree>
  <template>
    <x-iconbutton src="http://placecage.com/30/30">Hello</x-iconbutton>
  </template>
  <template id="imports">
    <link rel="import" href="xtag-iconbutton.html">
  </template>
</x-meta>

<x-meta id="xtag-tabbar" label="XTag Tabbar" group="XTags" hideSubtree>
  <template>
    <x-tabbar>
      <x-tabbar-tab>
        <x-iconbutton icon-anchor="top">One</x-iconbutton>
      </x-tabbar-tab>
      <x-tabbar-tab>
        <x-iconbutton icon-anchor="top">Two</x-iconbutton>
      </x-tabbar-tab>
      <x-tabbar-tab>
        <x-iconbutton icon-anchor="top">Three</x-iconbutton>
      </x-tabbar-tab>
    </x-tabbar>
  </template>
  <template id="imports">
    <link rel="import" href="xtag-tabbar.html">
  </template>
</x-meta>
