<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Polydrops</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="cleartype" content="on">

    <!-- Importing Web Component's Polyfill -->
    <script src="bower_components/platform/platform.js"></script>

    <!-- Importing Custom Elements -->
    <link rel="import" href="src/poly-app.html">
    <style>
    body {
    	margin: 0px;
    }
    </style>
</head>
<body>
    <poly-app></poly-app>
</body>
</html>
