<link rel="import" href="../bower_components/polymer/polymer.html">
<polymer-element name="my-element" noscript>
<template>
    <style>
        :host {
          background: white;
          width: 620px;
          padding: 20px;
          border: 1px solid black;
          margin-bottom: 10px;
          display: block;
          font-size: 2em;
        }
      
        p {
            color: red;
        }

        #message {
          background-image:url('../../../images/smashing-vitaly.jpg'); 
          width: 620px;
          height:611px;
          display:block;
        }

        .important {
            color: green;
        }
    </style>

    <div id="message">
    </div>

    <div class="important">
    </div>
</template>
</polymer-element>

